data/*
apps/*
!apps/README.md
*.build
sites/assets/*
!sites/assets/README.md
*/private/*
*/public/*
*/logs/*
!*/logs/README.md
*log*
docker-compose.override.yml
sites/site1.local/indexes
sites/site1.local/locks
sites/site1.local/private
sites/site1.local/public

